body {
    background-color: #353535;
}

#overskrift {
    text-align: center;
    color: #b4dc7f;
    font-size: 50px;
}

.textinn {
    text-align: center;
}

#sifferbox {
    text-align: center;
    margin-top: 7px;
}

.siffer {
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
}

.input {
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

#btn-inkrypt {
    margin-left: 600px;
    margin-top: 7px;
}

.dekryptert {
    text-align: center;
    margin-top: 20px;
}

#btn-clear {
    margin-top: 3px;
}

.output {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

#alan-kudos {
    color: #b4dc7f;
}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 50px;
}